### Loading the data into a SQL database

In [14]:
import pandas as pd
from getpass import getpass

import sqlalchemy as alch

import re

In [15]:
df = pd.read_csv("data/cleaned-lyrics-queen.csv")

### Loading Process
1. Create Queen DB in Workbench
2. Populate Cleaned CSV to table in DB
3. Make sure data types match (eg lyrica needs to be long text type)
4. Create function to insert new data to sql if called. 
5. Test function

In [16]:
password= getpass()
dbName = 'queen'
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [17]:
engine = alch.create_engine(connectionData)

engine

Engine(mysql+pymysql://root:***@localhost/queen)

In [18]:
df.to_sql("queen", if_exists="replace", con=engine, index=False)

138

In [19]:
df.columns

Index(['artist_name', 'album_name', 'album_link', 'album_cover',
       'album_popularity', 'release_date', 'total_tracks', 'tracks', 'lyrics',
       'release_year', 'words', 'polarity', 'sentiment'],
      dtype='object')

In [20]:
df = pd.read_sql_query("SELECT * FROM queen;", engine)

### Compare polarity to it's mean to identify outliers

In [21]:
# Define a function to identify outliers
def is_outlier(value, mean, std, threshold=3):
    z_score = (value - mean) / std
    is_top_outlier = z_score > threshold
    is_bottom_outlier = z_score < -threshold
    return is_top_outlier, is_bottom_outlier

# Calculate the mean and standard deviation of the column
mean = df['polarity'].mean()
std = df['polarity'].std()

# Add new columns to the dataframe that identify top and bottom outliers
df['is_top_outlier'], df['is_bottom_outlier'] = zip(*[is_outlier(value, mean, std) for value in df['polarity']])

In [22]:
# identify the outliers in the dataframe

top_outliers = df.loc[df['is_top_outlier'] == True]
top_outliers

,artist_name,album_name,album_link,album_cover,album_popularity,release_date,total_tracks,tracks,lyrics,release_year,words,polarity,sentiment,is_top_outlier,is_bottom_outlier
114,Queen,Flash Gordon,https://open.spotify.com/album/4r9kNse038AoF2K...,https://i.scdn.co/image/ab67616d0000b273eea709...,44,1980-12-05,24,Football Fight,"football fight lyrics ming: klytus, are your m...",1980,"['Football Fight Lyrics Ming: Klytus', ' are y...",0.697545,upbeat,True,False
125,Queen,Flash Gordon,https://open.spotify.com/album/4r9kNse038AoF2K...,https://i.scdn.co/image/ab67616d0000b273eea709...,44,1980-12-05,24,Football Fight,"football fight lyrics ming: klytus, are your m...",1980,"['Football Fight Lyrics Ming: Klytus', ' are y...",0.697545,upbeat,True,False

In [23]:
# Check which rows contain bottom outliers
bottom_outliers = df.loc[df['is_bottom_outlier'] == True]

bottom_outliers

Empty DataFrame
Columns: [artist_name, album_name, album_link, album_cover, album_popularity, release_date, total_tracks, tracks, lyrics, release_year, words, polarity, sentiment, is_top_outlier, is_bottom_outlier]
Index: []

In [24]:
engine.execute("ALTER TABLE queen ADD COLUMN is_top_outlier BOOLEAN")

In [25]:
engine.execute("ALTER TABLE queen ADD COLUMN is_bottom_outlier BOOLEAN")

In [26]:
def update_into_sql (df):
    
    for index, row in df.iterrows():
        engine.execute(
            f"""UPDATE queen 
                SET is_top_outlier = {row.is_top_outlier}, is_bottom_outlier = {row.is_bottom_outlier}
                    WHERE tracks = "{row.tracks}";""")

In [27]:
update_into_sql (df)

#### Identifying Distribution of the Data based on polarity

In [28]:
mean = df['polarity'].mean()
median = df['polarity'].median()


# Check if mean is close to median
if abs(mean - median) < 0.5: #0.5 is a common rule of thumb to determine if a data is distributed. 
    print("The data is likely normally distributed.")
else:
    print("The data may be skewed or have a non-normal distribution.")

The data is likely normally distributed.

#### Polarity Analysis:
The polarity scores of Queen are normally distributed, which can be a useful information for the sentiment analysis as it sugests that the overall sentiment of the lyrics of the band id relatively balances, with neither an overwhelmingly positive nor negative tones.

### Exported SQL and CSV files for visualization in Tableau

In [29]:
df.to_csv("data/queen_for_tableau.csv", index=False)